<footer class="bg-[#F5F5F5] pb-[40px] pt-[90px]">
  <div class="custom-container">
    <!-- Item 1 -->
    <div
      class="grid grid-cols-[5fr,2fr,2fr,3fr] gap-x-[30px] border-b border-solid border-[#555555] pb-[90px]"
    >
      <!-- Item 1 -->
      <div class="">
        <a href="index.html" class="mb-8 inline-block">
          <img src="./assets/images/logo.svg" alt="logo" />
        </a>
        <p class="w-[85%] font-normal leading-[27px] text-[#555555]">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <!-- Item 2 -->
      <div class="">
        <h3 class="leading-[24px ] mb-[43px] text-[20px] font-semibold">
          GET HELP
        </h3>
        <ul>
          <li>
            <a
              href=""
              class="inline-block pb-[12px] pt-[5px] font-medium text-[#555555] transition-all duration-300 ease-in-out hover:text-[#FF782D] hover:underline"
            >
              Contact Us
            </a>
          </li>
          <li>
            <a
              href=""
              class="inline-block py-3 font-medium text-[#555555] transition-all duration-300 ease-in-out hover:text-[#FF782D] hover:underline"
            >
              Latest Articles
            </a>
          </li>
          <li>
            <a
              href=""
              class="inline-block py-3 font-medium text-[#555555] transition-all duration-300 ease-in-out hover:text-[#FF782D] hover:underline"
            >
              FAQ
            </a>
          </li>
        </ul>
      </div>
      <!-- Item 3 -->
      <div class="">
        <h3 class="leading-[24px ] mb-[43px] text-[20px] font-semibold">
          PROGRAMS
        </h3>
        <ul>
          <li>
            <a
              href=""
              class="inline-block pb-[12px] pt-[5px] font-medium text-[#555555] transition-all duration-300 ease-in-out hover:text-[#FF782D] hover:underline"
            >
              Art & Design
            </a>
          </li>
          <li>
            <a
              href=""
              class="inline-block py-3 font-medium text-[#555555] transition-all duration-300 ease-in-out hover:text-[#FF782D] hover:underline"
            >
              Business
            </a>
          </li>
          <li>
            <a
              href=""
              class="inline-block py-3 font-medium text-[#555555] transition-all duration-300 ease-in-out hover:text-[#FF782D] hover:underline"
            >
              IT & Software
            </a>
          </li>
          <li>
            <a
              href=""
              class="inline-block py-3 font-medium text-[#555555] transition-all duration-300 ease-in-out hover:text-[#FF782D] hover:underline"
            >
              Languages
            </a>
          </li>
          <li>
            <a
              href=""
              class="inline-block py-3 font-medium text-[#555555] transition-all duration-300 ease-in-out hover:text-[#FF782D] hover:underline"
            >
              Programming
            </a>
          </li>
        </ul>
      </div>
      <!-- Item 4 -->
      <div class="">
        <h3 class="leading-[24px ] mb-[43px] text-[20px] font-semibold">
          CONTACT US
        </h3>
        <ul>
          <li>
            <a
              href=""
              class="inline-block pb-[12px] pt-[5px] font-medium leading-[1.5] text-[#555555] transition-all duration-300 ease-in-out hover:text-[#FF782D] hover:underline"
            >
              Address: 2321 New Design Str, Lorem Ipsum10 Hudson Yards, USA
            </a>
          </li>
          <li>
            <a
              href=""
              class="block py-3 font-medium text-[#555555] transition-all duration-300 ease-in-out hover:text-[#FF782D] hover:underline"
            >
              Tel: + (123) 2500-567-8988
            </a>
            <a
              href=""
              class="block py-3 font-medium text-[#555555] transition-all duration-300 ease-in-out hover:text-[#FF782D] hover:underline"
            >
              Mail: supportlms@gmail.com
            </a>
          </li>
          <li class="mt-4">
            <ul class="flex items-center gap-x-3">
              <li>
                <a href="#" class="inline-block h-4 w-4">
                  <img
                    src="./assets/icons/facebook.svg"
                    alt=""
                    class="inline-block h-full w-full object-contain"
                  />
                </a>
              </li>
              <li>
                <a href="#!" class="inline-block h-4 w-4">
                  <img
                    src="./assets/icons/peri.svg"
                    alt=""
                    class="inline-block h-full w-full object-contain"
                  />
                </a>
              </li>
              <li>
                <a href="#!" class="inline-block h-4 w-4">
                  <img
                    src="./assets/icons/xperi.svg"
                    alt=""
                    class="inline-block h-full w-full object-contain"
                  />
                </a>
              </li>
              <li>
                <a href="#!" class="inline-block h-4 w-4">
                  <img
                    src="./assets/icons/instargam.svg"
                    alt=""
                    class="inline-block h-full w-full object-contain"
                  />
                </a>
              </li>
              <li>
                <a href="#!" class="inline-block h-4 w-4">
                  <img
                    src="./assets/icons/youtube.svg"
                    alt=""
                    class="inline-block h-full w-full object-cover"
                  />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- Item 2 -->
    <div class="pt-8 text-center">
      <p class="font-normal leading-[27px] text-[#555555]">
        Copyright © 2024 LearnPress LMS | Powered by ThimPress
      </p>
    </div>
  </div>
</footer>
