<header class="bg-white pb-[20px] pt-[40px]">
  <div class="custom-container">
    <nav class="flex items-center justify-between">
      <a href="index.html">
        <img src="./assets/images/logo.svg" alt="logo" />
      </a>

      <ul class="flex items-center justify-between">
        <li>
          <a
            class="px-5 py-3 leading-[19px] transition-all duration-300 ease-in-out hover:text-[#FF782D]"
            href="index-login.html"
          >
            Home
          </a>
        </li>
        <li>
          <a
            class="px-5 py-3 leading-[19px] hover:text-[#FF782D]"
            href="http://127.0.0.1:5500/client/public/course-login.html"
          >
            Courses
          </a>
        </li>
        <li>
          <a
            class="px-5 py-3 leading-[19px] hover:text-[#FF782D]"
            href="http://127.0.0.1:5500/client/public/blog-login.html"
          >
            Blog
          </a>
        </li>
        <li>
          <a
            class="px-5 py-3 leading-[19px] hover:text-[#FF782D]"
            href="http://127.0.0.1:5500/client/public/faqs-login.html"
          >
            FAQs
          </a>
        </li>
        <li>
          <a
            class="px-5 py-3 leading-[19px] hover:text-[#FF782D]"
            href="http://127.0.0.1:5500/client/public/contact-login.html"
          >
            Contact
          </a>
        </li>
      </ul>

      <div>
        <div class="custom-transition-all group relative h-[50px] w-[50px]">
          <img
            class="gro cursor-pointer rounded-[8px] object-cover [box-shadow:0px_4px_14px_2px_rgba(0,_0,_0,_0.08)]"
            src="./assets/images/avatar/avatar-main.jpg"
            alt=""
          />
          <div class="absolute -right-[35%] hidden min-w-[300px] pt-[25px] group-hover:block">
            <div
              class="relative rounded-[20px] bg-white px-[30px] py-[30px] [box-shadow:0px_40px_90px_20px_rgba(200,_200,_200,_0.4)]"
            >
              <img class="absolute -top-[16px] left-[77%] h-[25px] w-[52px]" src="./assets/icons/arrow-up.png" alt="" />
              <!-- Row 1 -->
              <div class="flex gap-x-[15px]">
                <img
                  class="h-[60px] w-[60px] rounded-[8px] object-cover [box-shadow:0px_4px_14px_2px_rgba(0,_0,_0,_0.08)]"
                  src="./assets/images/avatar/avatar-main.jpg"
                  alt="Văn Đạo"
                />
                <div class="flex h-full flex-col justify-between">
                  <span class="block text-[18px] font-semibold text-black">Văn Đạo</span>
                  <a class="mt-[11px] block text-[#555] hover:underline" href="mailto:nvdao003@gmail.com"
                    >@vandao.com</a
                  >
                </div>
              </div>
              <!-- Row 2 -->
              <ul class="mt-[30px]">
                <li>
                  <a href="#!" class="flex items-center justify-between py-[14px] text-[#555] hover:underline">
                    Profile
                    <img src="./assets/icons/user-avatar.svg" class="h-[20px] w-[20px]" alt="" />
                  </a>
                </li>
                <li>
                  <a
                    href="#!"
                    class="flex items-center justify-between pb-[16px] pt-[14px] text-[#555] hover:underline"
                  >
                    Favourite List
                    <img src="./assets/icons/favourite.svg" class="h-[20px] w-[20px]" alt="" />
                  </a>
                </li>
                <hr />
                <li>
                  <a
                    href="#!"
                    class="flex items-center justify-between pb-[14px] pt-[16px] text-[#555] hover:underline"
                  >
                    Dark mode
                    <img src="./assets/icons/sun-dark.svg" class="h-[20px] w-[20px]" alt="" />
                  </a>
                </li>
                <li>
                  <a
                    href="#!"
                    class="flex items-center justify-between pb-[16px] pt-[14px] text-[#555] hover:underline"
                  >
                    Settings
                    <img src="./assets/icons/settings.svg" class="h-[20px] w-[20px]" alt="" />
                  </a>
                </li>
                <hr />
                <li>
                  <a
                    href="./index.html"
                    class="flex items-center justify-between pt-[16px] text-[#555] hover:underline"
                  >
                    Log out
                    <img src="./assets/icons/log-out.svg" class="h-[20px] w-[20px]" alt="" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
