<header class="bg-white py-[40px]">
  <div class="custom-container">
    <nav class="flex items-center justify-between">
      <a href="index.html">
        <img src="./assets/images/logo.svg" alt="logo" />
      </a>

      <ul class="flex items-center justify-between">
        <li>
          <a
            class="px-5 py-3 leading-[19px] transition-all duration-300 ease-in-out hover:text-[#FF782D]"
            href="index.html"
          >
            Home
          </a>
        </li>
        <li>
          <a
            class="px-5 py-3 leading-[19px] hover:text-[#FF782D]"
            href="./courses"
          >
            Courses
          </a>
        </li>
        <li>
          <a
            class="px-5 py-3 leading-[19px] hover:text-[#FF782D]"
            href="./blog.html"
          >
            Blog
          </a>
        </li>
        <li>
          <a class="px-5 py-3 leading-[19px] hover:text-[#FF782D]" href="">
            LearnPress Add-On
          </a>
        </li>
        <li>
          <a class="px-5 py-3 leading-[19px] hover:text-[#FF782D]" href="">
            Premium Theme
          </a>
        </li>
      </ul>

      <div>
        <a
          class="mr-3 select-none transition-all duration-300 ease-in-out hover:underline"
          href="./login.html"
        >
          Login
        </a>
        <a
          class="select-none rounded-[8px] bg-[#0F1B4C] px-[16px] py-[13px] text-white transition-all duration-100 ease-in-out hover:opacity-80"
          href="./register.html"
        >
          Register
        </a>
      </div>
    </nav>
  </div>
</header>
